/giantsteps-tempo-dataset
/TellerNet/data/__pycache__
/TellerNet/data/beatbank_test_audios
/TellerNet/giantsteps-tempo-dataset
/TellerNet/data/giantsteps-tempo-dataset
/TellerNet/data/beatbank_test_audios.zip
/FriendlyBeatTeller.ipynb
/.venv
/models/saved
/venv